body {
  font-family: 'Roboto', sans-serif;
}

.add-option {
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 10px;
  margin-bottom: 10px;

  background-color: #f8f8f8;
  box-shadow: 0px 0px 2px 0px #888;
}
.add-option label {
  pointer-events: none;
}

#add-option-btn:hover,
#submit-new-poll:hover {
  background-color: #EEE;
  cursor: pointer;
}
#add-option-btn:active,
#submit-new-poll:active {
  box-shadow: 0px 0px 1px 0px #888;
}

.poll-view {
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 5px;
}